html, body {

  scroll-behavior: smooth;

  margin: 0;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(1rem + 0.15vw + 0.1vh);

  background-color: #ffffff;

}

a {

  text-decoration: none;
  color: black;
}

.navbar {

  position: fixed;
  z-index: 999;
  width: 100vw;

}


.nav {

  width: auto;
  min-height: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 16px 5vw 16px 5vw;

  background-color: #ffffff;
  color: #000000;

}

.standard_nav {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  opacity: 1;

}

.nav_items {

  padding: 1vw 1.5vw 1vw 1.5vw;
  margin: 0;
  transition: all 0.5s ease;

}

.nav_items:hover {
  
  background-color: whitesmoke;
  border-radius: 3px;

}

.bar1, .bar2, .bar3 {

  width: 27px;
  height: 4px;
  margin: 3px;
  background-color: black;
  transition: 0.3s;

  opacity: 0;

}

.change .bar1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg) translate(-0.475em, -0.475em);
}

.nav_links {

  position: fixed;
  z-index:999;

  width: 100vw;

  font-weight: 600;
  font-size: 0.7em;
  
  display: flex;
  flex-direction: column;

  background-color: black;

}

.nav_links a {
  padding: 16px 0 16px 5vw;
  color: gainsboro;
}

.navbar .nav_links {
  display: none;
}

.nav_links a:hover {

  background-color: gainsboro;
  color: black;
  transition: all 0.5s ease-in;

}

/** --- Hello World Container --- **/
.container_hello_world {
  
  width: auto;
  height: 95vh;
  
  margin: 0 20vw 0 20vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  
}

.text_hello_world_1 {

  font-weight: 800;
  font-size: calc(2.9em + 1vw);
  margin: 0;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_hello_world_2 {

  font-weight: 800;
  font-size: calc(1.5em + 1vw);
  margin: 0;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i {

  position: relative;
  left: 50%;
  margin-left: -9.3px;

}

.bounce {
  
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-7.5px);
    -ms-transform: translateY(-7.5px);
    -webkit-transform: translateY(-7.5px);
    transform: translateY(-7.5px);
  }
}

.container_projects {

  position: relative;
 
  width: auto;
  height: auto;
  
  margin: 0 18vw 13vh 18vw;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

  background-color: white;

}

.project {

  margin: 2vw 2vw 2vw 2vw;

  position: relative;

  overflow: hidden;

}

.project img {
  
  width: 100%;
  height: auto;

  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;

}

.overlay {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  
  height: 100%;
  width: 100%;

  opacity: 0.5;
  transition: .3s ease;

  /*background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);*/
  background-color: whitesmoke;
}

.overlay_text {

  position: absolute;
  
  bottom: 10%;
  left: 10%;
  
  font-size: calc(1.5em + 1vw);
  opacity: 1;

  color: white;

  margin: 0;

  opacity: 1;
  transition: transform .3s ease;

}

.project:hover .overlay {
  opacity: 0.2;

}

.project:hover .overlay_text {
  opacity: 0;
}

.project:hover img {

  -webkit-transform: scale(1.05);
  transform: scale(1.05);

}

/**
* PROJECT 1, 2, 3
**/

.project_content {

  margin: 7.5vh 20vw 15vh 20vw;

  width: auto;
  height: auto;

}

.project_content img {

  width: 100%;

}

.project_header {
  
  width: 100%;
  height: auto;

}

.project_header img {

  width: 100%;

}

.project_header_1 {

  margin: 2vh 0 4vh 0;

  font-size: 2em;
  color: black;

}

.project_information {
  font-weight: 400;

  text-align: justify;
}

.project_content img {
  margin-top: 4vh;
}

/**
* ABOUT SECTION
**/
.container_auto {

  margin: 20vh 20vw 15vh 20vw;

  width: auto;
  height: auto;

  text-align: right;
}

.container_auto img {
  width: 50%;
}

.container_auto li {
  font-size: 0.8em;
  font-weight: 400;
}

.overflow_text {

  z-index: 998;
  
  position: absolute;
  top: 18.5%;
  left: 25vw;

  text-align: left;

  width: 35vw;

}

.overflow_text p {

  font-size: calc(2vw + 0.5vh);
  font-weight: 700;

  color: #000000;
    
}

.container_img {
  
  position: absolute;
  overflow: hidden;

  right: 0;

  width: 75%;

}

.container_img img {

  width: 100%;
  height: auto;

}

.container_text {

  margin: 0 20vw 7.5vh 20vw;

  font-size: 1em;
  font-weight: 500;
  
  text-align: justify;

}

.container_contact {

  margin: 12vh 25vw 10vh 25vw;

  width: auto;
  height: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4vw;
  text-align: center;

  background-color: white;

}

.container_contact img {
  width: 100%;
}

.connect {
  margin: 0 20vw 15vh 20vw;
}

.about_img {
  margin-right: 5vw;
}

footer {
  width: calc(100% - 10vw);

  padding: 5vw;

  background-color: whitesmoke;

  font-size: 0.75em;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

footer p {
  
  margin: 0;

}

footer a {

  color: gray;

}

.icon_footer {
  max-height: 4vh;
  padding-left: 1vw;

}

#map {
  height: 50vh;
  width: 100%;
}

/** RESPONSIVE - LAYOUT**/
@media screen and (max-width: 1350px) {
  .project_content {
    margin: 7.5vh 11vw 15vh 11vw;
  }

  .container_auto {
    margin: 20vh 11.25vw 15vh 11.25vw;
  }

  .about_img {
    margin-right: 13.75vw;
  }

  .connect {
    margin: 0 11.25vw 15vh 11.25vw;
  }

  .container_hello_world {
    margin: 0 11.25vw 0 11.25vw;
  }

  .container_projects {
    margin: 0 11.25vw 13vh 11.25vw;
  }

  .container_text {
    margin: 0 11.25vw 7.5vh 11.25vw;
  }
}

@media screen and (max-width: 1200px) {
  
  .container_projects {

    grid-template-columns: 1fr;

  }
}

@media screen and (max-width: 950px) {
  
  .nav {

    padding: 16px 5vw 16px 5vw;
  
    background-color: #ffffff;
  
    font-size: 20px;
  
  }

  .nav_links a {

    font-size: 20px;

  }
  
  .bar1, .bar2, .bar3 {
  
    width: 27px;
    height: 4px;
    margin: 3px;
    background-color: black;
    transition: 0.3s;

    opacity: 1;
  }

  .standard_nav {
    display: none;
  }

  .project_header {
    margin-top: 24px;
  }

  .container_contact {

    grid-template-columns: repeat(2, 2fr);

  }

}
