html, body {

  margin: 0;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;

}

a {

  text-decoration: none;
  color: black;
}

.nav {

  width: auto;
  height: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 7.5vw 0 7.5vw;

  background-color: white;

}

.hamburger {

  margin-right: 0;
}


.bar1, .bar2, .bar3 {

  width: 30px;
  height: 3px;
  margin: 3px 0;
  background-color: black;
  transition: 0.4s;

}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px);
}

/** --- Hello World Container --- **/
.container_hello_world {
  
  width: auto;
  height: 80vh;
  
  margin: 0 7.5vw 0 7.5vw;
  padding: 0 3.75vw 0 3.75vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.text_hello_world_1 {

  font-weight: 800;
  font-size: 4.5em;
  margin: 0;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_hello_world_2 {

  font-weight: 800;
  font-size: 2em;
  margin: 0;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container_projects {
 
  width: auto;
  height: auto;
  
  margin: 0 7.5vw 0 7.5vw;
  padding: 10vh 0 10vh 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.project {

  width: 85vw;
  height: 33vh;

  background-color: whitesmoke;

  margin: 0 0 7.5vw 0;
}

.project img {
  width: 100%;
}