html, body {    
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 62.5%;
    color: #5f6368;

    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #383838;
}

h1 {
    font-size: 3.6rem;
    font-weight: 600;
    color: #383838;
}

h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #383838;
}

h3 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 0;
    color: #383838;
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #383838;
}

/*
NAVIGATION AREA
*/

header {
    position: fixed;
    z-index: 998;
    top: 0;
    
    width: 70vw;
    padding: 0 15vw;

    background-color: #ffffff;
}

.navbar {
    height: 70px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    height: 26px;
    padding-left: 22.5px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    padding: 22.5px 15px;
    /* margin: .25vw .75vw; */

    /* background-color: #383838; */
    border-radius: 50%;

    transition: background 0.2s ease-in;
}

.links p {
    font-weight: 600;
    padding: 10px 24px;
}

#link {
    transition: color 0.2s ease-in-out;
}

#link:hover {
    color: #2F58F7;
}

#resume{
    margin-left: 22.5px;
}

#hamburger {
    display: none;
}

.line {
    height: 4px;
    border-radius: 1px;
    background: #383838;
}

.line:nth-child(1) {
    width: 30px;
    margin-bottom: 5px;
}

.line:nth-child(2) {
    width: 37.5px;
    margin-bottom: 5px;
}

.line:nth-child(3) {
    width: 20px;
}


.navbar-opened {
    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 999;
    right: 0;

}

.blurred {
    position: absolute;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0,0.65);
}

#menu {
    -webkit-animation: fadeIn .3s ease-in;
    /* Firefox 28, Opera 22, IE 11: */
    animation: fadeIn .3s ease-in;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 25vw;
    padding: 0 40px;
    width: calc(75vw - 80px);
    min-height: 100vh;

    background-color: #ffffff;
}

.menu .fine-line {
    width: 100%;
    margin: 0; 
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 5vw;

    color: #383838;
}

.menu-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 500;

    letter-spacing: 0.2px;

    color: #383838;

    padding-right: 1.25vw;

    transition: all 0.5s ease;
}

.menu-icons:hover {
    background-color: #F2F2F2;
    border-radius: 5px;  
}

.menu-icons {
    align-items: center;
}

.menu-icons img {
    width: 20px;
    height: 20px;

    padding: 0 25px;
}

#home {
    margin-top: 15vh;
}

#menu-contact {
    position: absolute;
    bottom: 0;
    margin-left: 25px;
    width: calc(100% - 105px);
}

#menu-contact img {
    height: 20px;
    padding: 20px 10px;
}

/*
INDEX AREA
*/

.shadow{
    box-shadow: 0 1px 15px rgba(27,31,35,.15);
}

.radius {
    border-radius: 4px;
}

.container-wide {
    position: relative;

    width: 60vw;
    height: 85vh;
    
    padding: 10vh 20vw 0 20vw;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "Montserrat", sans-serif;
}

.helloWorld-text {
    position: relative;
    z-index: 2;
    width: 25vw;
}

.helloWorld-text img {
    height: 30px;
    padding-right: 20px;
}

#contact-icons-start {
    margin: 40px 0 0 0;
}

.text-huge {
    font-size: calc(3.2rem + 1.5vw);
    font-weight: 900;

    margin: 0 0 0.5em;

    background-image: linear-gradient(90deg, #31B1E7 0%, #268CF5 35%, #2F58F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#code img {
    position: absolute;
    z-index: 1;
    transform: translate(0, -50%);
    right: 17.5vw;
    width: 30vw;
    height: auto;
}

#clouds {
    position: relative;
    z-index: 3;
}

#clouds img {
    position: absolute;
    width: 10vw;
    height: auto;
}

#cloud-1 {
    transform: translate(7.5vw, -15vw);
}

#cloud-2 {
    transform: translate(17.5vw, -21vw);
}

#cloud-3 {
    transform: translate(27.5vw, -12.5vw);
}

#interests {
    padding-top: 15vh;
}

.down-arrow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 5vh;
}

.down-arrow i {
    color: #DCDCDC;

    -moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite; 
}

#break {
    padding-top: 5vh;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
    60% {
        -moz-transform: translateY(-7.5px);
        -ms-transform: translateY(-7.5px);
        -webkit-transform: translateY(-7.5px);
        transform: translateY(-7.5px);
    }
}

/*
PROJECT GRID AREA
*/
.container {
    position: relative;
    
    width: auto;
    height: auto;
    
    margin: 0 20vw 15vh 20vw;

    background-color: #ffffff;
}

.container li {
    font-size: 1.6rem;
    font-weight: 400;
}

.container img {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: calc(1.25vw + 1.25vh);

    justify-content: center;
}

.onexthree {
    position: relative;
    z-index: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(1.25vw + 1.25vh);
    padding: 25px 50px;
    margin: 75px 25px;
    background: #ffffff;
}

.twocolumns {
  grid-column-start: 1; 
  grid-column-end: 3; 
}

.twocolumns-second {
    grid-column-start: 2; 
    grid-column-end: 4; 
}

#dots {
    position: absolute;
    transform: translate(0, -25px);
    width: 400px;
}

.icon img {
    height: 150px;
    width: auto;
}

.fine-line {
    width: auto;
    height: 1px;
    
    margin: 0 20vw;

    background-color: #DCDCDC;
}

#projects {
    padding: 15vh 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(1vw + 1vh);

    margin: 2vw 0;

    justify-content: center;
}

.project-grid img {
    max-height: 5vh;

    filter: grayscale(100%);
}

.project {
    min-height: 15vh;

    padding: calc(1vw + 2vh);

    position: relative;
    overflow: hidden;

    box-shadow: 0 1px 15px rgba(27,31,35,.15);

    transition: 0.2s ease-in-out;
}

.project:hover {
    background: #F8F8F8;
}

.border {
    border: 1px solid #DCDCDC;
    border-radius: 4px;
}

.project img { 
    width: 100%;
    height: auto;

    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.topic {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2;

    color: #5f6368;

    margin-top: 0;
}

.description {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.2px;

    color: #5f6368;

    margin-top: 0;
}

.continue {
    margin-top: 2vh;

    color: #2575fc;
    background-image: linear-gradient(90deg, #31B1E7 0%, #268CF5 50%, #2F58F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    float: right;
}

#about-me {
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: 0;
    padding: 0 20vw;
}

#about-me h1 {
    font-weight: 500;
}



.button {
    position: relative;
    display: block;

    color: #1074e7;
    
    width: auto;
    height: auto;
    background: #ffffff;

    border: 1px solid #1074e7;
    border-radius: 4px;

    transition: all 0.35s;
}

.button p {
    position: relative;
    z-index: 2;
    font-weight: 600;
    padding: 16px 24px;
}

.button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1074e7;
    color: #ffffff;
    transition: all .35s ease-in-out;
  }
  
  .button:hover{
    color: #ffffff;
  }
  
  .button:hover:after{
    width: 100%;
  }

/*
PROJECT AREA
*/
.project-header {
    width: 100vw;
    margin-bottom: 7.5vh;
}

.project-header img {
    width: 100%;
}

.tools {
    color: #BEBEBE;
    font-style: italic;
}

.project-text {
    padding-top: 17.5vh;
}

.project-text img {
    margin: 2.5vh 0;

    border-radius: 5px;
}

/*
ABOUT AREA
*/
.about {
    margin-top: 20vh;
    text-align: right;
}

.about img {
    margin-right: 5vw;
    width: 50%;
}

.about-margin {
    margin-bottom: 7.5vh;
}

.overflow-text {
    position: absolute;
    top: 0;
    left: 5vw;
    z-index: 2;
    width: 35vw;

    font-family: 'Montserrat', sans-serif;
    font-size: calc(2.3vw);
    font-weight: 700;
    text-align: left; 
    color: #000000; 
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: left;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4vw;

    margin-top: 10vh;
}

.icon-grid img {
    height: 70px;
    width: auto;
}

.hobbies {
    text-align: center;
}

.hobbies p {
    text-align: center;
}

.connect {
    margin: 0 20vw 15vh 20vw;
}

.skills {
    padding: 2.5rem;
    margin: 3.5vh 0;

    background-color: #F5F5F5;
    border-radius: 3px;

    font-weight: 800;
    font-style: italic;
    word-spacing: 2rem;
}

.about-flex {
    display: flex;
    flex-direction: row;
}

#about-text {
    margin: 0 2.5vw 0 0;
    width: 85vw;
}

#profile-image {
    text-align: right;
    filter: grayscale(100%);
}

.skill-bar {
    width: 100%;
    height: 10px;

    background-color: #DCDCDC;
    border-radius: 5px;
}

.skill-level {
    height: 100%;
    width: 0;

    background-color: #2575fc;
    border-radius: 5px 0 0 5px;
}

#history {
    width: auto;

    display: flex;
    flex-direction: column;

    margin-top: 15vh;
}

.timeline-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.timestamp {
    width: 5vw;
    height: auto;

    text-align: right;
}

.timestamp p {
    margin: 0;
}

.timeline {
    width: 5px;

    display: flex;
    align-items: center;

    margin: 0 3vw;
    padding-bottom: 15px;
    align-self: stretch;

    background-color: #2575fc;
}

.dot {
    position: absolute;
    transform: translate(-7.5px, 50%);

    height: 20px; 
    width: 20px;
    border-radius: 50%;
    
    background-color: #2575fc;
}

.timeline-element {
    width: 60%;
    height: auto;

    padding: calc(1vw + 2vh);
    margin: 2.5vh 0;
}

.bold {
    font-weight: 600; 
    padding: 0 0 3vh 0; 
    margin: 0;
}

.section {
    background-color: #F8F8F8;
    border-radius: 3px;
    padding: 2vw 2.5vw;
}

code {
    padding: 0.6rem;
    background: #F5F5F5;
    color: #383838;
    border-radius: 4px;
    font-size: 1.6rem;
}

.facts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: calc(2vw + 1.75vh);

    width: 100%;

    justify-content: center;
}

.facts-grid div {
    padding: 2vw;
}

.fact{
    /* text-align: center;     */

    background-color: #F8F8F8;
    border-radius: 3px;
}

.fact1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/*
FOOTER AREA
*/
footer {
    width: auto;

    padding: 5vh 15vw;

    background-color: #f2f2f2;

    font-size: 1.6rem;
    font-weight: 500;
}

footer a, footer p {
  color: #9C9C9C;
}

footer a:hover {
    text-decoration: underline;
}

footer .fine-line {
    width: 100%;
    background-color: #BEBEBE;
}

footer .bold {
    color: #5f6368;
    padding-bottom: 1vh;
}

footer #icon-contact{
    height: 24px;
    padding: 1em 12px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

/*
RESPONSIVE AREA
*/
@media screen and (max-width: 1750px) {
    
    .helloWorld-text {
        width: 80vw;
    }

    #code, #clouds {
        display: none;
    }
}

@media screen and (max-width: 1350px) {

    .container {
        margin: 0 5vw 13vh 5vw;
    }

    #about-me {
        padding: 5vh 7.5vw;
    }

    .container-text {
        margin: 0 7.5vw 7.5vh 7.5vw;
    }

    .fine-line {
        margin: 0vh 5vw;
    }
}

@media screen and (max-width: 1200px) {
    
    .container { 
        grid-template-columns: 1fr; 
    }

    .about {
        margin: 20vh 13.5vw 15vh 13.5vw;
    }
}

@media screen and (max-width: 950px) {  
    
    header {
        padding: 0 5vw;
        width: 90vw; 
    }

    .navbar {
        width: auto;
        
        font-size: 20px;
    }

    .navbar img {
        padding-left: 0;
    }

    #menu-big {
        display: none;
    }

    #hamburger {
        display: flex;
    }

    .links {
        padding-right: 0;
    }
  
    .links a {
         font-size: 20px;
    }

    .icon-grid {
        grid-template-columns: repeat(2, 2fr);
    }

    .icon-grid img {
        height: 50px;
    }

    .icon {
        display: none;
    }

    .container-wide {
        height: 65vh;
        width: auto;
        padding: 20vh 5vw 10vh 5vw;
        align-items: flex-start;
    }

    .overflow-text {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        
        font-size: 2.4rem;
        margin: 0;

        color: #ffffff;
        background: url(./imgs/profile_picture.jpg) 0px -1000px no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .grid {
        grid-template-columns: repeat(1, 2fr);
    }

    .onexthree {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
        padding: 25px 30px;
    }

    .project-grid {
        grid-template-columns: repeat(1, 3fr);
        grid-gap: 20px;
    }

    .project {
        padding: 30px;
    }

    .facts-grid {
        grid-template-columns: repeat(1, 3fr);
    }

    .fact1 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .about {
        margin: 80px 11.25vw 3.5vh 11.25vw;
    }

    #about-text {
        width: 100%;
    }

    #profile-image {
        display: none;
    }

    .timestamp {
        display: none;
    }

    .timeline-element {
        width: 100%;
        padding: 30px;
    }

    .timeline {
        margin-left: 0;
        margin-right: 30px;
    }

    .forward-button {
        padding: 0 10px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }

    footer {
        font-size: 16px;
        padding: 5vh 7.5vw 15vh 7.5vw;
    }

    footer .flex-row {
        flex-direction: column;
    }

    .flex-row #row {
        width: 100%;
        margin-top: 5vh;
    }

    .icons-footer {
        max-height: 20px;
    }
}

@media screen and (max-height: 550px) {
    
    .menu footer {
        display: none;
    }
}
