html, body {

  scroll-behavior: smooth;

  margin: 0;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: calc(1em + 1vw);

}

a {

  text-decoration: none;
  color: black;
}

.navbar {

  position: fixed;
  z-index: 999;
  width: 100vw;

  background-color: white;

}


.nav {

  width: auto;
  height: 6vh;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  padding: 0 7.5vw 2vh 7.5vw;

  background-color: white;

  font-size: 0.7em;

}

.hamburger {

  margin-right: 0;
}


.bar1, .bar2, .bar3 {

  width: 1.35em;
  height: 0.175em;
  margin: 0.15em 0;
  background-color: black;
  transition: 0.3s;

}

.change .bar1 {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-0.475em, -0.475em) ;
  transform: rotate(45deg) translate(-0.475em, -0.475em);
}

.rechange .bar1 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.rechange .bar2 {
  opacity: 1;
}

.rechange .bar3 {
  -webkit-transform: rotate(0deg) translate(0px, 0px) ;
  transform: rotate(0deg) translate(0px, 0px);
}

.nav_links {

  position: fixed;
  z-index:999;

  width: 100vw;

  font-weight: 600;
  font-size: 0.7em;
  
  display: flex;
  flex-direction: column;

  padding: 1vh 0 1vh 7.5vw;

  background-color: gainsboro;

}

.nav_links a {
  padding: 1vh 0 1vh 0;
  color: white;
}

.navbar .nav_links {
  display: none;
}

/** --- Hello World Container --- **/
.container_hello_world {
  
  width: auto;
  height: 95vh;
  
  margin: 0 7.5vw 0 7.5vw;
  padding: 0 3.75vw 0 3.75vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.text_hello_world_1 {

  font-weight: 800;
  font-size: 2.9em;
  margin: 0;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_hello_world_2 {

  font-weight: 800;
  font-size: 1.4em;
  margin: 0;

  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

i {

  position: relative;
  left: 50%;
  margin-left: -9.3px;

}

.bounce {
  
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -moz-transform: translateY(-7.5px);
    -ms-transform: translateY(-7.5px);
    -webkit-transform: translateY(-7.5px);
    transform: translateY(-7.5px);
  }
}

.container_projects {

  position: relative;
 
  width: auto;
  height: auto;
  
  margin: 0 9.25vw 0 9.25vw;
  padding: 0 0 15vh 0;
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;

}

.project {

  margin: 2vw 2vw 2vw 2vw;

  position: relative;

  overflow: hidden

}

.project img {
  
  width: 100%;
  height: auto;

  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;

}

.overlay {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  
  height: 100%;
  width: 100%;

  opacity: 0.5;
  transition: .3s ease;

  /*background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);*/
  background-color: whitesmoke;
}

.overlay_text {

  position: absolute;
  
  bottom: 10%;
  left: 10%;
  
  font-size: 1.5em;
  opacity: 1;

  color: white;

  margin: 0;

  opacity: 1;
  transition: transform .3s ease;

}

.project:hover .overlay {
  opacity: 0.2;

}

.project:hover .overlay_text {
  opacity: 0;
}

.project:hover img {

  -webkit-transform: scale(1.05);
  transform: scale(1.05);

}

footer {
  
  width: 100%;

  padding: 7.5vh 7.5vw 7.5vh 7.5vw;

  background-color: whitesmoke;

  color: gray;
  font-size: 0.5em;
  font-weight: 500;

}

footer p {
  margin: 0;
}


/**
* PROJECT 1, 2, 3
**/

.project_content {

  margin: 12vh 11.25vw 15vh 11.25vw;

  width: 77.5vw;
  height: auto;

}

.project_content img {

  margin-top: 11.25vw;

  width: 100%;

}

.project_header {
  
  width: 100%;
  height: auto;

}

.project_header img {

  width: 100%;

}

.project_header_1 {

  margin-top: 11.2vw;

  font-size: 1.5em;
  color: black;

}

.project_information {

  font-size: 0.5em;
  font-weight: 400;

  text-align: justify;

}

@media screen and (max-width: 1200px) {
  
  .container_projects {

    grid-template-columns: 1fr;

  }  
}

/**
* ABOUT SECTION
**/
.about_information {

  font-size: 0.5em;
  font-weight: 400;

}

.about_content {

  margin: 12vh 11.25vw 15vh 11.25vw;

  width: 77.5vw;
  height: 60vh;

}

